<h1>Animals#new</h1>
<p>Find me in app/views/animals/new.html.erb</p>
  <%= form_for @animal do |f|%>
<div>
  <%= f.label :name %></div>
  <div><%= f.text_field :name%></div>
<br>
<div>
  <%= f.label :age %></div>
  <div><%= f.text_field :age%></div>
<br>
<div><%= f.label :race %></div>
<div><%= f.select :race, Animal.races.map{|r| [r.humanize, r.camelcase]}, {}, disabled: @race != "Animal"%></div>
<br/>
<div><%= f.label :tribe_id %></div>
<div><%= f.select :tribe_id, Tribe.all.map{|r| [r.name, r.id]} %></div>
<br>
<div><%= f.submit "Create" %></div>
<% end %>
<br>
<div><%= Tribe.all.map{|r| [r.name, r.id]} %></div>
